

html {
    font-size: 100%;
}

body, h4 {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;  
}

main {
    margin: 1em 2em;
}

h2, h3, nav {
    font-family: 'Audiowide', cursive;
}


/* Navigation*/

li {
    display: inline;
}

.logo {
    width: 50px;
}

.links {
    margin: 20px;
    text-decoration: none;
    color: inherit;
}

nav {
    color: white;
}

.links:hover, #active {
    color: rgb(250, 227, 17); 
}

header {
    display: flex;
    align-items: center;
    padding: 20px 40px;
    background: rgb(60, 90, 166);
}

/*Home page layout*/

.welcome {
    text-align: center;
    padding-top: 5rem;
    max-width: 45vw;
    margin: 0px auto;
    font-size: 1.1rem;
}

.result {
    margin: 1rem;
    padding: 1rem;
    background: whitesmoke;
    border-radius: 1rem;
    box-shadow: 3px 3px 3px rgba(192, 206, 202, 0.3);
    text-decoration: none;
    color: black;
}

.details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



/*Details page*/

.cardStyle {
    flex: 1;
    padding: 30px;
    border-radius: 1rem;
    background: whitesmoke;
}

.pokemon-details {
    margin-bottom: 100px;
}

.pokeName {
    text-align: center;
}

.pokemon-image {
    margin: 4em 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 3px 3px 3px rgb(192 206 202 / 30%);
    border-radius: 5%;
}

.cardHeading {
    font-size: 1.2rem;
}

.backButton {
    display: flex;
    align-items: center;
    color: rgb(60, 90, 166);
    text-decoration: none;
    max-width: fit-content;
    gap: 10px;
}

.cardDetails {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

/*Pokeball Loader*/

.loader-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader {
    border: 40px solid #e7e6e6;
    background-color: black;
    color: black;
    border-radius: 50%;
    border-top: 40px solid red;
    border-right: 40px solid red;
    position: relative;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}


@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*Error state*/

.error {
    display: inline;
    border: 1px solid darkred;
    color: darkred;
    padding: 1rem;
    background: rgba(225, 0, 0, 0.1);
}

.errorContainer {
    padding: 2rem;
    text-align: center;
}

/*form*/

form {
    padding: 2em;
    max-width: 70vw;
    margin: 3em auto;
    background: whitesmoke;
    border-radius: 1em;
    box-shadow: 3px 3px 3px rgba(192, 206, 202, 0.3);
}

input {
    width: 100%;
    margin-top: 2px;
    padding: 10px 10px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid lightgrey;
}

button {
    background: rgb(60, 90, 166);
    border: none;
    width: 200px;
    padding: 1rem;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 0.2rem;
}

label {
    display: block;
    margin-top: 1rem;
}

.formError {
    display: none;
    color: red;
    font-size: 0.9rem;
    margin-top: 2px;
}

.success-message {
    color: green;
    text-align: center;
    border: 1px solid darkgreen;
    padding: 1rem;
    background: rgba(12, 92, 39, 0.1);
}


